{% assign locale = include.locale | default: site.locale %}

{%- assign page_url = page.url | remove: "/index.html" | append: "/" -%}
{%- if page.categories contains "english" or page.url contains "/english/" -%}
  {%- assign logo_path = "/assets/images/dmpen.png" -%}
{%- else -%}
  {%- assign logo_path = "/assets/images/dmp.png" -%}
{%- endif -%}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        {% unless page.url == "/about/" or page.url == "/about/index.html" %}
        <a class="site-logo" href="{{ '/' | relative_url }}"><img src="{{ logo_path | relative_url }}" alt="{{ site.title }}" style="max-height: 50px;"></a>
        {% endunless %}
        <ul class="visible-links">
          {%- for link in site.data.navigation.main -%}
            <li class="masthead__menu-item">
              <a href="{{ link.url | relative_url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
            </li>
          {%- endfor -%}
        </ul>
        <button class="greedy-nav__toggle hidden" type="button">
          <span class="visually-hidden">{{ site.data.ui-text[locale].menu_label | default: "Toggle menu" }}</span>
          <div class="navicon"></div>
        </button>
        <ul class="hidden-links hidden"></ul>
      </nav>
    </div>
  </div>
</div>
